@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 1.5625vw;
}

@media (min-width: 640px) {
  html {
    font-size: 10px;
  }
}

body {
  font-size: 1.6rem;
}

/* 이미지 드래그 막기 */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 달력 입력 막기 */
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  width: 100%;
  background-position: calc(100% - 1.2rem);
  cursor: pointer;
}
